%footer
  .container
    .row
      .col-xs-12.col-sm-12.text-center
        .navholder
          %a.navicon{ id:'emailako', href:'./contact.html', alt:'' }
            %i.fa.fa-envelope-o.fa-3x
            %span Contact
        .navholder
          %a.navicon{ href:'https://www.facebook.com/pages/ImprovMasters/172130356249549', alt:'', target:'_blank' }
            %i.fa.fa-facebook-square.fa-3x
            %span Like
        .navholder
          %a.navicon{ href:'./about.html', alt:'Twitter', target:'_blank' }
            %i.fa.fa-flag.fa-3x
            %span About
    .row
      .col-xs-12
        %hr
    .row.resources.text-center
      .col-xs-8.col-xs-offset-2.col-sm-3.col-sm-offset-3
        %span Improv Resources
        %ul
          %li 
            %a{ href:'#', alt:'', target:'_blank' } What is Improv?
          %li 
            %a{ href:'http://en.wikibooks.org/wiki/Improvisational_Acting/Rules', alt:'',  target:'_blank' } Wikibooks on Improv
      .col-xs-8.col-xs-offset-2.col-sm-3.col-sm-offset-0
        %span About Toastmasters
        %ul
          %li 
            %a{ href:'#', alt:'', target:'_blank' } Toastmasters International
          %li
            %a{ href:'#', alt:'', target:'_blank' } District Toastmasters
