%footer
  .container
    .row
      .col-xs-12.col-sm-12.text-center
        .navholder
          %a.navicon{ id:'emailako', href:'//www.linkedin.com/in/anton23', alt:'email' }
            %i.fa.fa-envelope-o.fa-3x
            %span Contact
        .navholder
          %a.navicon{ href:'//www.linkedin.com/in/anton23', alt:'LinkedIn', target:'_blank' }
            %i.fa.fa-facebook-square.fa-3x
            %span Like
        .navholder
          %a.navicon{ href:'./about.html', alt:'Twitter', target:'_blank' }
            %i.fa.fa-flag.fa-3x
            %span About
    .row
      .col-xs-12
        %hr
    .row.resources.text-center
      .col-xs-8.col-xs-offset-2.col-sm-3.col-sm-offset-3
        %span Improv Resources
        %ul
          %li 
            %a{ href:'#', alt:''} Tina Fey on Improv
          %li 
            %a{ href:'#', alt:''} What is Improv?
          %li 
            %a{ href:'http://en.wikibooks.org/wiki/Improvisational_Acting/Rules', alt:''} Wikibooks on Improv
      .col-xs-8.col-xs-offset-2.col-sm-3.col-sm-offset-0
        %span About Toastmasters
        %ul
          %li 
            %a{ href:'#', alt:''} Toastmasters International
          %li
            %a{ href:'#', alt:''} District Toastmasters
