%header.navbar.navbar-static-top#top{role:'banner'}
  .container
    .navbar-header
      %button.navbar-toggle{type:'button', data:{toggle:'collapse', target:'.bs-navbar-collapse'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href:'./'}
        = partial('./layouts/brandsvg')
    %nav.collapse.navbar-collapse.bs-navbar-collapse{role:'navigation'}
      %ul.nav.navbar-nav
        / %li.active
        /   %a{href:'#'}Getting Started
      %ul.nav.navbar-nav.navbar-right
        %li.active
          %a{href:'#'}Join Us!
        %li.active
          %a{href:'#'}Members Area


