---
title: Improv Masters
body_class: index
---

= partial('./layouts/header')

#aboutus
  .container
    .row
      .col-xs-12
        %h1 About Our Club
        .row
          .col-sm-6.col-md-6
            %p The Nooners Toastmasters club was established in 2006 and is open to people from all walks of life. Most of our members hail from the business park in Rancho Cordova but some members travel from other locations in the region. Our meetings are semi-formal but we also try to keep them fun too. We always look forward to new smiling faces, so please feel free to join us and see what we’re all about.

            %p We meet every 2nd and 4th Wednesday from 12:05 to 12:55 at Rancho Cordova City Hall in the Community Board Room (opposite the reception area in the main lobby).
          .col-sm-6.col-md-6
            %img{src:'./images/shareBuilding.jpg', alt:'Share Building in Culver City'}
#leadership
  .container
    .row.group
      .col-xs-12
        %h1 Current Leadership
        .row
          %figure.col-sm-4.col-md-3.text-center
            %img.oval{src:'http://upload.wikimedia.org/wikipedia/commons/8/8d/President_Barack_Obama.jpg'}
            %figurecaption
              %span John Doe
              %span President
          %p.col-sm-8.col-md-9
            Welcome to San Francisco Toastmasters!
            ﻿
            San Francisco Toastmasters, chartered in 1975, is a club with a rich tradition.  But we're most proud of the club's vitality and vibrance today, and its progress towards even greater heights. It's no surprise that SFTM is one of the largest clubs in the city ... and perhaps the most popular.
             
            Our members are unified by a common mission:  to enrich our lives and the lives of others through our three values:  communication, leadership, and community.
             
            In every other way, we are a very diverse group, including our reasons for joining.  People who are already confident speakers are impressed by how much more they can learn and how far they can take their skills. Others who face the fear of public speaking find the group to be supportive and encouraging.  All benefit from an engaging meeting format which provides opportunities for prepared speeches, impromptu speaking, and constructive evaluations. And all thrive in a community that values mutual support ... and fun!
             
            Whether visiting a Toastmasters club for the first time or as an existing member of Toastmasters looking for the best club in the city, I think you'll be excited by what you see at San Francisco Toastmasters!   All the best to you in your pursuit of excellence in communication and leadership.   

    / / Add the extra clearfix for only the required viewport
    / .clearfix.visible-md
.officers
  .container
    .row
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            %img{src:'./images/biden300.jpg', alt:''}
          %figurecaption.col-xs.12.col-sm-7
            %span John Doe
            %span VP Education
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            %img{src:'./images/biden300.jpg', alt:''}
          %figurecaption.col-xs.12.col-sm-7
            %span John Doe
            %span VP Education
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            %img{src:'./images/biden300.jpg', alt:''}
          %figurecaption.col-xs.12.col-sm-7
            %span John Doe
            %span VP Education
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            %img{src:'./images/biden300.jpg', alt:''}
          %figurecaption.col-xs.12.col-sm-7
            %span John Doe
            %span VP Education
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            %img{src:'./images/biden300.jpg', alt:''}
          %figurecaption.col-xs.12.col-sm-7
            %span John Doe
            %span VP Education
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            %img{src:'./images/biden300.jpg', alt:''}
          %figurecaption.col-xs.12.col-sm-7
            %span John Doe
            %span VP Education
= partial('./layouts/footer')
