---
title: Improv Masters
body_class: index
---

/ = partial('./layouts/header')

%section#aboutus
  .container
    .row
      .col-xs-12
        %h1 About Our Club
        .row
          .col-sm-6.col-md-6
            %p The ImprovMasters Toastmasters club was established in 2006 and chartered in June 2012 as Club No. 2563285.  Most of our members hail from the west part of Los Angeles, but some members travel from other locations in the region. Our meetings are fun but structured. We always look forward to new smiling faces, so please feel free to join us and see what we’re all about.

            %p We meet every Friday from 8PM to 10PM at Share Building in the Serenity Conference Room (2nd Floor).  The address is 6666 Green Valley Circle, Culver City CA 90230.
          .col-sm-6.col-md-6
            %img{src:'./images/shareBuilding.jpg', alt:'Share Building in Culver City'}
%section#leadership
  .container
    .row.group
      .col-xs-12
        %h1 Current Leadership
        .row
          %figure.col-sm-4.col-md-3.text-center
            %img.oval{src:'http://upload.wikimedia.org/wikipedia/commons/8/8d/President_Barack_Obama.jpg'}
            %figurecaption
              %span John Doe
              %span President
          %p.col-sm-8.col-md-9
            Bacon ipsum dolor sit amet tongue doner pig jerky, filet mignon beef ribs biltong kielbasa strip steak pastrami pork hamburger. Pork loin sausage ball tip porchetta chuck beef tenderloin. Meatloaf tri-tip cow doner, t-bone tenderloin leberkas bacon. Sirloin swine ham brisket porchetta corned beef ham hock andouille pork belly turkey. Beef ribs leberkas turducken, cow spare ribs fatback t-bone meatball short loin meatloaf chicken kielbasa jowl. Capicola fatback biltong, pork belly beef ribs meatball prosciutto ham hock.Bacon ipsum dolor sit amet tongue doner pig jerky, filet mignon beef ribs biltong kielbasa strip steak pastrami pork hamburger. Pork loin sausage ball tip porchetta chuck beef tenderloin. Meatloaf tri-tip cow doner, t-bone tenderloin leberkas bacon. Sirloin swine ham brisket porchetta corned beef ham hock andouille pork belly turkey. Beef ribs leberkas turducken, cow spare ribs fatback t-bone meatball short loin meatloaf chicken kielbasa jowl. Capicola fatback biltong, pork belly beef ribs meatball prosciutto ham hock.   

    / / Add the extra clearfix for only the required viewport
    / .clearfix.visible-md
%section.officers
  .container
    .row
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            %img{src:'./images/biden300.jpg', alt:''}
          %figurecaption.col-xs.12.col-sm-7
            %span John Doe
            %span VP Education
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            %img{src:'./images/biden300.jpg', alt:''}
          %figurecaption.col-xs.12.col-sm-7
            %span John Doe
            %span VP Membership
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            %img{src:'./images/biden300.jpg', alt:''}
          %figurecaption.col-xs.12.col-sm-7
            %span John Doe
            %span VP Public Relations
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            %img{src:'./images/biden300.jpg', alt:''}
          %figurecaption.col-xs.12.col-sm-7
            %span John Doe
            %span Treasurer
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            %img{src:'./images/biden300.jpg', alt:''}
          %figurecaption.col-xs.12.col-sm-7
            %span John Doe
            %span Secretary
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            %img{src:'./images/biden300.jpg', alt:''}
          %figurecaption.col-xs.12.col-sm-7
            %span John Doe
            %span Sergeant-at-Arms
= partial('./layouts/footer')
