

/ %section#aboutus
/   .container
/     %row.group
/       %figure.col-md-3
/         %img.oval{src:'http://static.wixstatic.com/media/0fa807_8d52d0e9680c484e8a7bb6c1f4d7761d.jpg_srz_p_202_301_75_22_0.50_1.20_0.00_jpg_srz'}
/         %figurecaption
/           %span John Doe
/           %span President, 2014-2015
/       %p.col-md-9
/         Welcome to San Francisco Toastmasters!
/         ﻿
/         San Francisco Toastmasters, chartered in 1975, is a club with a rich tradition.  But we're most proud of the club's vitality and vibrance today, and its progress towards even greater heights. It's no surprise that SFTM is one of the largest clubs in the city ... and perhaps the most popular.
         
/         Our members are unified by a common mission:  to enrich our lives and the lives of others through our three values:  communication, leadership, and community.
         
/         In every other way, we are a very diverse group, including our reasons for joining.  People who are already confident speakers are impressed by how much more they can learn and how far they can take their skills. Others who face the fear of public speaking find the group to be supportive and encouraging.  All benefit from an engaging meeting format which provides opportunities for prepared speeches, impromptu speaking, and constructive evaluations. And all thrive in a community that values mutual support ... and fun!
         
/         Whether visiting a Toastmasters club for the first time or as an existing member of Toastmasters looking for the best club in the city, I think you'll be excited by what you see at San Francisco Toastmasters!   All the best to you in your pursuit of excellence in communication and leadership.   

/     / Add the extra clearfix for only the required viewport
/     .clearfix.visible-md
/     %row
/       %figure.col-md-4
/         %img.col-md-4{src:'http://static.wixstatic.com/media/0fa807_363cb14661144ac29221376e139af655.jpg_srz_p_91_91_75_22_0.50_1.20_0.00_jpg_srz', alt:''}
/         %figurecaption.col-md-8
/           %span John Doe
/           %span VP Education
/           %span 2014-2015
/       %figure.col-md-4
/         %img.col-md-4{src:'http://static.wixstatic.com/media/0fa807_363cb14661144ac29221376e139af655.jpg_srz_p_91_91_75_22_0.50_1.20_0.00_jpg_srz', alt:''}
/         %figurecaption.col-md-8
/           %span John Doe
/           %span VP Education
/           %span 2014-2015
/       %figure.col-md-4
/         %img.col-md-4{src:'http://static.wixstatic.com/media/0fa807_363cb14661144ac29221376e139af655.jpg_srz_p_91_91_75_22_0.50_1.20_0.00_jpg_srz', alt:''}
/         %figurecaption.col-md-8
/           %span John Doe
/           %span VP Education
/           %span 2014-2015
/     %row
/       %figure.col-md-4
/         %img.col-md-4{src:'http://static.wixstatic.com/media/0fa807_363cb14661144ac29221376e139af655.jpg_srz_p_91_91_75_22_0.50_1.20_0.00_jpg_srz', alt:''}
/         %figurecaption.col-md-8
/           %span John Doe
/           %span VP Education
/           %span 2014-2015
/       %figure.col-md-4
/         %img.col-md-4{src:'http://static.wixstatic.com/media/0fa807_363cb14661144ac29221376e139af655.jpg_srz_p_91_91_75_22_0.50_1.20_0.00_jpg_srz', alt:''}
/         %figurecaption.col-md-8
/           %span John Doe
/           %span VP Education
/           %span 2014-2015
/       %figure.col-md-4
/         %img.col-md-4{src:'http://static.wixstatic.com/media/0fa807_363cb14661144ac29221376e139af655.jpg_srz_p_91_91_75_22_0.50_1.20_0.00_jpg_srz', alt:''}
/         %figurecaption.col-md-8
/           %span John Doe
/           %span VP Education
/           %span 2014-2015

