---
title: Improv Masters
body_class: index
---

= partial('./layouts/header')

%section.block1
  .container
    .row
      .col-xs-12
        %h1 Competent Communication Manual
        .row
          .col-md-8
            = partial('./layouts/ccm')
= partial('./layouts/footer')
