---
title: Improv Masters
body_class: index
---

= partial('./layouts/header')
= partial('./layouts/ccm')

%section#aboutus
  .container
    .row
      .col-xs-12
        %h1 Members Area
        .row
          .col-sm-6.col-md-6
            %h2 Sign up!
            %h2 Advanced Improv Techniques
            %h2 Competent Communication Manual
            %h2 Where are you in the grand scheme of things
            %p Brisket aliqua in corned beef do, t-bone drumstick ea biltong qui kielbasa quis. Laborum cillum shankle tongue nulla proident meatloaf, corned beef turkey tenderloin jerky. Anim sirloin proident prosciutto jerky tempor ribeye corned beef dolor beef ribs nisi ex. Sausage pork loin incididunt tongue, ullamco dolore est non shankle in tail magna cupidatat bacon. Eu nulla short ribs rump capicola, excepteur pork loin deserunt ut sausage non.

            %p Anim sirloin proident prosciutto jerky tempor ribeye corned beef dolor beef ribs nisi ex. Sausage pork loin incididunt tongue, ullamco dolore est non shankle in tail magna cupidatat bacon. Eu nulla short ribs rump capicola, excepteur pork loin deserunt ut sausage non.
          .col-sm-6.col-md-6
            %img{src:'./images/toastmastersoutdoors.jpg', alt:'Become a Member!'}
        .row
          .col-md-8
            %h2 Frequently Asked Questions
            %ul.faq
              %li
                %span.question Bacon ipsum dolor sit amet spare ribs eu nisi in exercitation?
                %span.answer Sausage adipisicing enim andouille bacon. Doner velit adipisicing aute shoulder beef dolore pastrami in, minim fatback.
              %li
                %span.question Bacon ipsum dolor sit amet spare ribs eu nisi in exercitation?
                %span.answer Sausage adipisicing enim andouille bacon. Doner velit adipisicing aute shoulder beef dolore pastrami in, minim fatback.
              %li
                %span.question Bacon ipsum dolor sit amet spare ribs eu nisi in exercitation?
                %span.answer Sausage adipisicing enim andouille bacon. Doner velit adipisicing aute shoulder beef dolore pastrami in, minim fatback.
= partial('./layouts/footer')
