---
title: Improv Masters
body_class: index
---

= partial('./layouts/header')

%section.block1
  .container
    .row
      .col-md-12  
        %img.pull-right.unclesampic{src:'./images/unclesam.jpg', alt:''}
        %h1 Become a Member!
        %p Joining means you can take a more active role in meetings by giving speeches, performing functionary roles including Toastmaster, Grammarian, Timer, Improv Master, Table Topics Master, and Speech Evaluator, and even run for office in the Club.
        %p The membership fee is $72 for six months. The first time you join a Toastmasters club, it costs an additional $22 for two books: The Competent Communicator, which has ten speech assignments designed to help you improve your speaking skills rapidly; and The Competent Leader, which has assignments that help you build leadership skills.
        %p.pdf
          %a.btn.btn-primary.btn-lg{href:'./newmembers.html', role: "button"} 
            %i.fa.fa-file-pdf-o 
            %span Download PDF File
    / .row
    /   .col-xs-12
    /     %h1 Become a Member!
    /     .row
    /       .col-md-8
    /         %p Brisket aliqua in corned beef do, t-bone drumstick ea biltong qui kielbasa quis. Laborum cillum shankle tongue nulla proident meatloaf, corned beef turkey tenderloin jerky. Anim sirloin proident prosciutto jerky tempor ribeye corned beef dolor beef ribs nisi ex. Sausage pork loin incididunt tongue, ullamco dolore est non shankle in tail magna cupidatat bacon. Eu nulla short ribs rump capicola, excepteur pork loin deserunt ut sausage non.

    /         %p Anim sirloin proident prosciutto jerky tempor ribeye corned beef dolor beef ribs nisi ex. Sausage pork loin incididunt tongue, ullamco dolore est non shankle in tail magna cupidatat bacon. Eu nulla short ribs rump capicola, excepteur pork loin deserunt ut sausage non.
    /       .col-md-4
    /         %img{src:'./images/unclesam.jpg', alt:'Become a Member!'}
    .row
      .col-md-12  
        %img.pull-left.rosiepic{src:'./images/rosie.jpg', alt:'Become a Member!'}
        %h2 Frequently Asked Questions
        %ul.faq
          %li
            %span.question Is it ok for me to just sit and watch? 
            %span.answer Yes, it is. We encourage everyone to participate as much or as little as they like.
          %li
            %span.question Do I have to do speeches, or can I just play games?
            %span.answer No, you don’t have to do speeches. In fact, only members can sign up and give speeches. However, we do improv at every meeting and guests are welcome to join in on improv games as much as they’d like.
          %li
            %span.question Do you perform as a group?
            %span.answer  No, some of our members do perform in various ways, but ImprovMasters is a Toastmasters club with improv, not a performance group.
          %li
            %span.question What skill level are the members?
            %span.answer We are a bunch of ranked amateurs.  We like it that way.  


= partial('./layouts/footer')
